*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    
    height: 200vh;
    border:solid black;
    background: #466995;
    display: grid;
    grid-template-areas: /*2 filas x 2 columnas*/
    "contenedor contenedor1"
    "contenedor contenedor2";
}

.border{
    /*border:solid black;*/
}

#contenedor{
    grid-area: contenedor; /*identidica el elemento para la grilla*/
    width: 40vw;
    height: 140vh;
    text-align: center;
    display: grid;
    grid-template-areas: /*como va quedar la matriz 1 fila x 4 columnas*/
    "imagen"
    "nombres"
    "informacionpersonal"
    "perfil";
}
/*id=# class=.*/

#imagen{
    
    align-content: center;
    grid-area: imagen;
    width: 40vw;
    height: 50vh;
    border:solid black;
}

#imagen img{
    width: 20vw;
    height: 40vh;
    border-radius: 50%;
}

#nombres{
    grid-area: nombres;
    color: black;
    border:solid black;
    width: 40vw;/*ancho del componente*/
    height: 15vh;/*largo del componente*/
    font-size: 20px;
}
#informacionpersonal{
    grid-area: informacionpersonal;
    align-content: center;
    border:solid black;
    width: 40vw;
    height: 50vh;
    color: black;
   /* background-color: pink;*/
    font-size: 20px;
}
#perfil{
    grid-area: perfil;
   
    width: 40vw;
    height: 60vh;
    align-content: center;
    color: black;
    font-size: 25px;
}

#contenedor1{
    grid-area: contenedor1;
    width: 60vw;
    height: 95vh;
    text-align: center;
   /* background-color: aquamarine;*/
    border:solid black;
    font-size: 25px;
    align-content: center;
}
#contenedor2{
    grid-area: contenedor2;
    width: 60vw;
    height: 110vh;
    text-align: center;
    border:solid black;
    font-size: 25px;
    align-content: center;
}