body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* este viene siendo el contenedor principal donde yo tengo todos los items */
contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr; /* aqui puedo ejustar las proporciones segun sea necesario   */
    gap: 20px; /* este codigo seria para el espacio entre columnas  */
    padding: 20px;
    max-width: 1200px; /* aqui ajustamos el tamaño maximo si es necesario */
    margin: auto;

    
}
imagen{
    grid-column: 1/2; /* distribucion de la imagen */
    background: #4464 ; /* color de fondo */
    
}
Nombres{
    grid-column: 2/3;
}

informacion personal{
    grid-column: 1/3;
}
perfil{
    grid-column: 1/3;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
}
informacion personal h3, perfil h3{
    margin-top: 10xp;
}